{% extends 'partials/_master.twig' %}
{% block main%}

<body>
    <div style="margin-top:0px;padding-bottom:15px;">
        <div class="container">
            <div class="row register-form">
                <div class="col-md-8 offset-md-2">
                    
                    <br><br>
                    <h4> About Us </h4>
                   
                    Wir sind ein junges Studenten-Team, welches in einem Studium-Projekt, <br>
                    dieses Projekt ins leben gerufen hat. <br><br>
                    
                    Wir sind:
                    Kristoff Klan, Leon Gerlach, Moritz Maart, Jan Hamer & Nils Krebs
                    <br><br>
                    Bei Fragen schickt uns gerne eine Email.
                    <br>
                    Peterwur@web.de<br>
                    (Das ist eine E-Mail von Nils Krebs)
                </div>
            </div>
        </div>
        <div class="bottom-container">
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </div>
</body>


{% endblock %}
