<html>

<head>
    <script language="javascript" type="text/javascript" src="{{asset('assets/js/ws-client.js','theme')}}"></script>
    <style>
        #tutorium {
            margin: 5px;
            width: 200px;
        }
        
        #message {
            margin: 5px;
            width: 200px;
        }
        
        #send {
            margin: 5px;
            width: 200px;
        }
        
        #content {
            height: 160px;
            width: 200px;
            border-style: solid;
            border-width: 1px;
            margin: 4px;
        }
        
        #dragContainer {
            background-color: red;
            width: 210px;
            height: 25px;
            -webkit-border-radius: 10px 10px 0px 0px;
            border-radius: 10px 10px 0px 0px;
        }
        
        #contentContainer {
            background-color: green;
            position: absolute;
            width: 210px;
            height: 300px;
            -webkit-border-radius: 10px 10px 10px 10px;
            border-radius: 10px 10px 10px 10px;
        }
    </style>
</head>
<body>
    <div id="contentContainer">
        <div id="dragContainer">
            Chat
        </div>
        <select id="tutorium" size="1">
                <option>Mathe</option>
                <option>Englisch</option>
                <option>Deutsch</option>
                <option>Web-Systeme</option>
            </select>
        <div id="content"></div>
        <input type="text" id="message" placeholder="Message"><br>
        <input type="button" id="send" value="Send">
    </div>
</body>

</html>
