{#In dieser Datei wird das Layout des Websocket Chat erstellt#}
{# An dieser Stelle erbt die Datei von der master.twig #}
{% extends 'partials/_master.twig' %}
{# Es wird die Extention Auth eingebunden #}
{% set auth=auth() %}
{# Hier beginnt der Main Block in dem der spaetere Inhalt erscheint  #}
{% block main %}
{# Das script zur kommunikation mit dem Websocket Server wird eingebunden#}
<script language="javascript" type="text/javascript" src="{{asset('assets/js/ws-client.js', 'theme')}}"></script>

<div style="margin-top:0px;padding-bottom:15px;">
    <div class="container">
        <div class="row">
                <div class="card" style="margin-right:0px;margin-left:-15px;  margin:auto; width:65%;">
                    <div class="card-body" id="contentContainer">
                        <h3 style="margin-left:45%; ">Chat</h3>
                        {#dem script wird zum einen die Emailadresse sowie den gewaelten 
                        Benutzername uebergeben#}
                        <input type="hidden" id="mail" value="{{ auth.email }}">
                        <input type="hidden" id="name" value="{{ auth.displayname }}">
                        <input type="hidden" id="tutorium" value="everything">
                        <div class="d-flex" style="height:250px;padding:15px;width:100%;margin-bottom:15px;margin-top:15px;">
                            <p id="content" style="overflow: scroll;padding: 15px;overflow-x: hidden; width: 100%;"> </p>
                        </div>
                        <div class="d-flex">
                            <input class="form-control-lg d-flex mx-auto" type="text" required="" placeholder="Message" maxlength="1000"
                                autocomplete="off" id="message" style="width:100%;">
                        </div>
                        <button class="btn btn-light d-block mx-auto" type="button" id="send" value="Absenden" style="margin-top:15px;">Absenden</button>
                    </div>
                </div>  <input class="btn" style="margin-left:47%; margin-top: 2%;" type="button" onclick="history.back()" value="Back"/>
            </div>
        </div>
    </div>
</div>
{# hier endet der Main Block#}
{% endblock %}
