{#In dieser Datei wird das Template zur registration bei Auth bereit gestellt#}
{#Die Datei erbt an dieser Stelen von der master.twig#}
{% extends 'partials/_master.twig' %} 
{#Hier beginnt der main Block#}
{% block main %}
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    <div style="margin-top:0px;padding-bottom:15px;">
        <div class="container">
            <div class="row register-form">
                <div class="col-md-8 offset-md-2">
                    {#Es wird an dieser Stelle das Template von Auth eingebunden#}
                    {{ auth_profile_register() }}
                </div>
            </div>
        </div>
        <div class="bottom-container">
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </div>
</body>
{#Hier endet der Main block#}
{% endblock main %}
