{# Es werden alle Quiz Einträge von dem Tutorial aus der Datenbank abgefragt #}
{% setcontent entries = "entries/latest/50" %}
{% set relatedrecords = record.related()[0] %}    
{% setcontent quiz='create_quizes' where{tutorialid:relatedrecords.id} %}

{# Wenn keine Quizze vorhanden sind, wird kein Menu dargestellt #}
    {% if quiz is not empty %}
        <ul>
        {% for related in quiz %}
          <li class="list-group-item nav-item" style="padding:0px;"><a href="{{ related.link }}" class="nav-link"><span style="margin:0px;padding:0px;">{{ related.title }}</span></a></li>
        {%  endfor %}
        </ul>
    {% endif %}
