<div class="align-items-stretch align-content-stretch visible" id="welcome">
            <div class="jumbotron jumbotron-fluid" style="margin-bottom:0;">
                <h1>Willkommen bei Independent Tutorials</h1>
                <div class="container-fluid d-inline-flex">
                    <form class="form-inline d-block m-auto" target="_self">
                        <div class="form-group" style="background-color:#ffffff;margin-top:20px;">
                            <label for="search-field"></label>
                            <div id="searchWrapper">
                                <input class="form-control search-field" type="search" name="search" placeholder="Finde Tutorien" id="search-field" style="padding:6px;margin:6px;width:250px;">
                                <button class="btn btn-link d-inline-block" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            <div class="dropdown">
                                {#{{menu( record.somevalue) }}#}
                                <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color:rgba(248,249,250,0);color:rgb(73,80,87);margin-right:10px;margin-left:10px;">Kategorien</button>

                                <div class="dropdown-menu" role="menu">
                                    <a class="dropdown-item" role="presentation" href="#">First Item</a>
                                    <a class="dropdown-item" role="presentation" href="#">Second Item</a>
                                    <a class="dropdown-item" role="presentation" href="#">Third Item</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <p>Description</p>
            </div>
        </div>
