<<<<<<< HEAD
<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-search">
         
            <div class="container-fluid">
                
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                 {% setcontent latespages='pages/latest/2' %}
                {%for page in latestpages %}       
                {{dump(page)}}
                {%endfor%}
                <div >
                    <ul class="nav navbar-nav ml-auto">
                        <li>
                                <a href="">Lernmaterial</a>
                            </li>
                            <li>
                                <a href="">Diskussionen ?</a>
                            </li>
                            <li>
                                <a href="">Fortschritt</a>
                            </li>
                            <li>
                                <a href="">Lernräume ?</a>
                            </li>
                            <li>
                                <a href="">Kursdetails</a>
                            </li>
                            <li>
                                <a href="">Neuigkeiten ?</a>
                            </li>
                            <li>
                                <a href="">Recap</a>
                            </li>
                    </ul>
                </div>
            </div>
            
        </nav>
=======
<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-search">
         
            <div class="container-fluid">
                
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                 {% setcontent latespages='pages/latest/2' %}
                {%for page in latestpages %}       
                {{dump(page)}}
                {%endfor%}
                <div >
                    <ul class="nav navbar-nav ml-auto">
                        <li>
                                <a href="">Lernmaterial</a>
                            </li>
                            <li>
                                <a href="">Diskussionen ?</a>
                            </li>
                            <li>
                                <a href="">Fortschritt</a>
                            </li>
                            <li>
                                <a href="">Lernräume ?</a>
                            </li>
                            <li>
                                <a href="">Kursdetails</a>
                            </li>
                            <li>
                                <a href="">Neuigkeiten ?</a>
                            </li>
                            <li>
                                <a href="">Recap</a>
                            </li>
                    </ul>
                </div>
            </div>
            
        </nav>
>>>>>>> New
