<<<<<<< HEAD
<nav>
            <div>
                <ul>
                    <li>
                        <a href="">Kurse</a>
                    </li>
                    <li>
                        <a href="">Neuigkeiten</a>
                    </li>
                    <li>
                        <a href="">Username</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="">Dashboard</a>
                            </li>
                            <li>
                                <a href="">Profil</a>
                            </li>
                            <li>
                                <a href="">Einstellungen ?</a>
                            </li>
                            <li>
                                <a>Abmelden</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
=======
<nav>
            <div>
                <ul>
                    <li>
                        <a href="">Kurse</a>
                    </li>
                    <li>
                        <a href="">Neuigkeiten</a>
                    </li>
                    <li>
                        <a href="">Username</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="">Dashboard</a>
                            </li>
                            <li>
                                <a href="">Profil</a>
                            </li>
                            <li>
                                <a href="">Einstellungen ?</a>
                            </li>
                            <li>
                                <a>Abmelden</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
>>>>>>> New
